{{ partial "header.html" . }}
<div class="container">
    <div class="row content margin-bottom-20">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <ul class="page-list">
        {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ if eq .Section "news" }}<span class="page-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></span>{{ end }}
                {{ with .Description }}<p>{{ . }}</p>{{ end }}
            </li>
        {{ end }}
        </ul>
    </div>
</div>
{{ partial "footer.html" . }}
