---
import ContentLayout from '../layouts/ContentLayout.astro';
---

<ContentLayout title="Page not found" noindex>
  <p>
    The page you were looking for doesn't exist (anymore). Try the <a href="/">homepage</a>, the
    <a href="/docs/">documentation</a> or the <a href="/news/">news archive</a>.
  </p>
</ContentLayout>
