{{ partial "header.html" . }}

<div class="hero">
  <img src="/img/teaser/strichliste-blur.jpg" alt="teaser" />
  <section>
    <h1>SELF-SERVICE CHECKLIST</h1>
    <h2>Manage your kiosk in a breeze.</h2>
  </section>
</div>

<div class="index-container">
  <div class="auto-grid">
    <div>
      <h4>Fully responsive</h4>
      <p>
        Strichliste is based on bootstrap and uses its responsive features to
        work properly on your phone, tablet or pc
      </p>
    </div>
    <div>
      <h4>HTML5 + CSS3 + JS</h4>
      <p>Strichliste uses the latest web technologies like react and redux</p>
    </div>
    <div>
      <h4>Open Source</h4>
      <p>
        This project is completely open source and is hosted on our GitHub
        account. Feel free to submit issues or pull requests!
      </p>
    </div>
  </div>

  {{ partial "lastnews.html" . }}

  {{ partial "features.html" . }}

  {{ partial "users.html" . }}
</div>

{{ partial "footer.html" . }}
